// font-family: 'Archivo', sans-serif;
// font-family: 'Kanit', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Spectral', serif;

body {
    // font-family: 'Archivo', sans-serif;
    // font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 0 0 black;
}